body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0D0D0D;
}

header, nav, section, footer {
    margin: 30px;
    padding: 10px;
    border: 1px solid #525252;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
    color: #F2F2F2;
}

nav li {
    display: inline;
    margin-right: 10px;
    color: #F2F2F2;
}

nav img {
    width: 40px;
    height: 40px;
    margin-right: 400px;
    border-radius: 15%;
    position: fixed;
    top: 45px;
    left: 55px;
}

section, footer {
    color: #F2F2F2;
    display: block;
}

a {
    text-decoration: none;
    color: #F2F2F2;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #F2F2F2;
}

.card {
    background-color: #272629;
    display: inline-flex;
    margin: 30px;
    padding: 10px;
    border: 1px solid #525252;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 272px;
    height: 300px;
    color: #F2F2F2;
    text-align: center;
    display: inline-table;
}

.card li {
    list-style-type: none;
    margin: 5px 0;
}
